:root {
  --clr-neutral: #ffff;
  --clr-primary: rgb(91, 100, 126);
  --clr-hover: rgb(53, 219, 128);
  --ff-primary: "Inter", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

/*Typography*/

body {
  font-family: var(--ff-primary);
}

button {
  font-size: 1.2em;
  font-weight: 500;
  border: none;
  color: var(--clr-neutral);
  background-color: var(--clr-primary);
  cursor: pointer;
}

/*Layout*/

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  gap: 2rem;
  background-color: var(--clr-primary);
  color: var(--clr-neutral);
}

nav button:hover {
  color: var(--clr-hover);
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.dropdown {
  background-color: var(--clr-primary);
}

.dropdown__btn {
  padding: 1rem 1rem;
  background-color: var(--clr-primary);
  cursor: default;
}

.dropdown__arrow {
  display: inline-block;
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-bottom: 2px;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--clr-primary);
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown__content button {
  padding: 1rem 1rem;
  background-color: var(--clr-primary);
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1em;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.visualize__btn {
  background-color: rgb(114, 83, 114);
  border-radius: 5px;
  padding: 0.6rem;
  margin-top: 1rem;
}

.visualize__btn:hover {
  background-color: rgb(92, 64, 92);
}

.grid {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  user-select: none; /*Doesn't let user to select text. This fixes a bug with creating walls while dragging mouse over*/
}

.grid__row {
  display: flex;
}

.node {
  outline: 1px solid rgb(145, 188, 233);
  padding: 0.9rem;
}

/*Utilities*/

.node--start {
  background-color: red;
  cursor: move;
}

.node--end {
  background-color: green;
  cursor: move;
}

.node--visited {
  animation: visit 1.2s ease-out alternate forwards;
}

@keyframes visit {
  0% {
    transform: scale(0.3);
    background-color: rgba(145, 188, 233, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: rgba(104, 193, 180, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(88, 233, 216, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(107, 170, 237, 0.75);
  }
}

.node--shortestPath {
  animation: shortestPath 1s ease-out alternate forwards;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.3);
    background-color: rgb(195, 233, 145);
    border-radius: 100%;
  }

  50% {
    transform: scale(0.5);
    background-color: rgb(171, 218, 110);
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(171, 218, 110);
  }

  100% {
    transform: scale(1);
    background-color: rgb(246, 255, 0);
  }
}

.node--wall {
  /* background-color: grey; */
  animation: putWall 0.2s ease-out alternate forwards;
}

@keyframes putWall {
  2% {
    transform: scale(0.4);
    background-color: grey;
  }

  50% {
    transform: scale(0.7);
    background-color: rgb(70, 66, 66);
  }

  100% {
    transform: scale(1);
    background-color: rgb(30, 29, 29);
  }
}
